@model PageView


@{
    ViewData["Title"] = "Page View";
}

<h1>@Model.Name</h1>

<br />

<svg width="1000" height="1000">
    <defs id="defs4">
        <linearGradient id="linearGradient5255">
            <stop style="stop-color:#ffcc00;stop-opacity:1;" offset="0" id="stop5257" />
            <stop style="stop-color:#c19a00;stop-opacity:1;" offset="1" id="stop5259" />
        </linearGradient>
    </defs>

    <rect style="fill:url(#linearGradient5255)" id="rect3769" width="990" height="990" x="10" y="10" ry="10" rx="10"/>
</svg>
